[run]
omit =
    /docs/*
    /features/*
    /tests/*
    /isatools/io/isatab_configurator.py

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.: