[run]
source = isatools
omit =
    /docs/*
    /features/*
    /tests/*
    /isatools/convert/experimental/nih_dcc_flux.py
    /isatools/net/storage_adapter.py
    /isatools/io/isatab_configurator.py
    /isatools/io/storage_adapter.py

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    except ImportError
    if __name__ == .__main__.: