bokeh~=2.2.3
holoviews~=1.12.3
#ipywidgets==7.4.2
#jupyter==1.0
#matplotlib~=3.1.1
numpy~=2.2.4
pandas~=2.2.3
python-dateutil~=2.8.0
pytz==2019.1
#-e git+http://github.com/ISA-tools/isa-api@b8f2f55b4e046f1841ffba7d6fb190c87918375f#egg=isatools
-e git+http://github.com/ISA-tools/isa-api@da75baf15c49f7d725d2e7facd06c187f682db4f#egg=isatools